﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet" />
    @RenderSection("CSS", false)
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
</head>

<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html"><span>JANUX</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-bell"></i>
                                <span class="badge red">
                                    7
                                </span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="dropdown-menu-title">
                                    <span>You have 11 notifications</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">1 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">7 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">8 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">16 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">36 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">2 items sold</span>
                                        <span class="time">1 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-user"></i></span>
                                        <span class="message">User deleted account</span>
                                        <span class="time">2 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="#">
                                        <span class="icon red"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">6 hour</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                                    <a>View all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- start: Notifications Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-calendar"></i>
                                <span class="badge red">
                                    5
                                </span>
                            </a>
                            <ul class="dropdown-menu tasks">
                                <li class="dropdown-menu-title">
                                    <span>You have 17 tasks in progress</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">iOS Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim red">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">Android Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim green">47</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim yellow">32</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim greenLight">63</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent"></span>
                                        </span>
                                        <div class="taskProgress progressSlim orange">80</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: Notifications Dropdown -->
                        <!-- start: Message Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-envelope"></i>
                                <span class="badge red">
                                    4
                                </span>
                            </a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title">
                                    <span>You have 9 messages</span>
                                    <a href="#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                6 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                56 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                3 hours
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                yesterday
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="avatar"><img src="img/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                Jul 25, 2012
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all messages</a>
                                </li>
                            </ul>
                        </li>

                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="halflings-icon white user"></i> Dennis Ji
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            @Html.Action("ShowMenu", "MenuGroup")
            <!-- end: Main Menu -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10">

                @RenderBody()

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                </ul>

                <div class="row-fluid">

                    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
                        <div class="boxchart">5,6,7,2,0,4,2,4,8,2,3,3,2</div>
                        <div class="number">854<i class="icon-arrow-up"></i></div>
                        <div class="title">visits</div>
                        <div class="footer">
                            <a href="#"> read full report</a>
                        </div>
                    </div>
                    <div class="span3 statbox green" onTablet="span6" onDesktop="span3">
                        <div class="boxchart">1,2,6,4,0,8,2,4,5,3,1,7,5</div>
                        <div class="number">123<i class="icon-arrow-up"></i></div>
                        <div class="title">sales</div>
                        <div class="footer">
                            <a href="#"> read full report</a>
                        </div>
                    </div>
                    <div class="span3 statbox blue noMargin" onTablet="span6" onDesktop="span3">
                        <div class="boxchart">5,6,7,2,0,-4,-2,4,8,2,3,3,2</div>
                        <div class="number">982<i class="icon-arrow-up"></i></div>
                        <div class="title">orders</div>
                        <div class="footer">
                            <a href="#"> read full report</a>
                        </div>
                    </div>
                    <div class="span3 statbox yellow" onTablet="span6" onDesktop="span3">
                        <div class="boxchart">7,2,2,2,1,-4,-2,4,8,,0,3,3,5</div>
                        <div class="number">678<i class="icon-arrow-down"></i></div>
                        <div class="title">visits</div>
                        <div class="footer">
                            <a href="#"> read full report</a>
                        </div>
                    </div>

                </div>

                <div class="row-fluid">

                    <div class="span8 widget blue" onTablet="span7" onDesktop="span8">

                        <div id="stats-chart2" style="height:282px"></div>

                    </div>

                    <div class="sparkLineStats span4 widget green" onTablet="span5" onDesktop="span4">

                        <ul class="unstyled">

                            <li>
                                <span class="sparkLineStats3"></span>
                                Pageviews:
                                <span class="number">781</span>
                            </li>
                            <li>
                                <span class="sparkLineStats4"></span>
                                Pages / Visit:
                                <span class="number">2,19</span>
                            </li>
                            <li>
                                <span class="sparkLineStats5"></span>
                                Avg. Visit Duration:
                                <span class="number">00:02:58</span>
                            </li>
                            <li>
                                <span class="sparkLineStats6"></span>
                                Bounce Rate: <span class="number">59,83%</span>
                            </li>
                            <li>
                                <span class="sparkLineStats7"></span>
                                % New Visits:
                                <span class="number">70,79%</span>
                            </li>
                            <li>
                                <span class="sparkLineStats8"></span>
                                % Returning Visitor:
                                <span class="number">29,21%</span>
                            </li>

                        </ul>

                        <div class="clearfix"></div>

                    </div><!-- End .sparkStats -->

                </div>

                <div class="row-fluid">

                    <div class="widget blue span5" onTablet="span6" onDesktop="span5">

                        <h2><span class="glyphicons globe"><i></i></span> Demographics</h2>

                        <hr>

                        <div class="content">

                            <div class="verticalChart">

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>37%</span>
                                        </div>

                                    </div>

                                    <div class="title">US</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>16%</span>
                                        </div>

                                    </div>

                                    <div class="title">PL</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>12%</span>
                                        </div>

                                    </div>

                                    <div class="title">GB</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>9%</span>
                                        </div>

                                    </div>

                                    <div class="title">DE</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>7%</span>
                                        </div>

                                    </div>

                                    <div class="title">NL</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>6%</span>
                                        </div>

                                    </div>

                                    <div class="title">CA</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>5%</span>
                                        </div>

                                    </div>

                                    <div class="title">FI</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>4%</span>
                                        </div>

                                    </div>

                                    <div class="title">RU</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>3%</span>
                                        </div>

                                    </div>

                                    <div class="title">AU</div>

                                </div>

                                <div class="singleBar">

                                    <div class="bar">

                                        <div class="value">
                                            <span>1%</span>
                                        </div>

                                    </div>

                                    <div class="title">N/A</div>

                                </div>

                                <div class="clearfix"></div>

                            </div>

                        </div>

                    </div><!--/span-->

                    <div class="widget span3 red" onTablet="span6" onDesktop="span3">

                        <h2><span class="glyphicons pie_chart"><i></i></span> Browsers</h2>

                        <hr>

                        <div class="content">

                            <div class="browserStat big">
                                <img src="img/browser-chrome-big.png" alt="Chrome">
                                <span>34%</span>
                            </div>
                            <div class="browserStat big">
                                <img src="img/browser-firefox-big.png" alt="Firefox">
                                <span>34%</span>
                            </div>
                            <div class="browserStat">
                                <img src="img/browser-ie.png" alt="Internet Explorer">
                                <span>34%</span>
                            </div>
                            <div class="browserStat">
                                <img src="img/browser-safari.png" alt="Safari">
                                <span>34%</span>
                            </div>
                            <div class="browserStat">
                                <img src="img/browser-opera.png" alt="Opera">
                                <span>34%</span>
                            </div>


                        </div>
                    </div>

                    <div class="widget yellow span4 noMargin" onTablet="span12" onDesktop="span4">
                        <h2><span class="glyphicons fire"><i></i></span> Server Load</h2>
                        <hr>
                        <div class="content">
                            <div id="serverLoad2" style="height:224px;"></div>
                        </div>
                    </div>

                </div>

                <div class="row-fluid">

                    <div class="box black span4" onTablet="span6" onDesktop="span4">
                        <div class="box-header">
                            <h2><i class="halflings-icon white list"></i><span class="break"></span>Weekly Stat</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul class="dashboard-list metro">
                                <li>
                                    <a href="#">
                                        <i class="icon-arrow-up green"></i>
                                        <strong>92</strong>
                                        New Comments
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-arrow-down red"></i>
                                        <strong>15</strong>
                                        New Registrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-minus blue"></i>
                                        <strong>36</strong>
                                        New Articles
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-comment yellow"></i>
                                        <strong>45</strong>
                                        User reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-arrow-up green"></i>
                                        <strong>112</strong>
                                        New Comments
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-arrow-down red"></i>
                                        <strong>31</strong>
                                        New Registrations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-minus blue"></i>
                                        <strong>93</strong>
                                        New Articles
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-comment yellow"></i>
                                        <strong>256</strong>
                                        User reviews
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--/span-->

                    <div class="box black span4" onTablet="span6" onDesktop="span4">
                        <div class="box-header">
                            <h2><i class="halflings-icon white user"></i><span class="break"></span>Last Users</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <ul class="dashboard-list metro">
                                <li class="green">
                                    <a href="#">
                                        <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg">
                                    </a>
                                    <strong>Name:</strong> Dennis Ji<br>
                                    <strong>Since:</strong> Jul 25, 2012 11:09<br>
                                    <strong>Status:</strong> Approved
                                </li>
                                <li class="yellow">
                                    <a href="#">
                                        <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg">
                                    </a>
                                    <strong>Name:</strong> Dennis Ji<br>
                                    <strong>Since:</strong> Jul 25, 2012 11:09<br>
                                    <strong>Status:</strong> Pending
                                </li>
                                <li class="red">
                                    <a href="#">
                                        <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg">
                                    </a>
                                    <strong>Name:</strong> Dennis Ji<br>
                                    <strong>Since:</strong> Jul 25, 2012 11:09<br>
                                    <strong>Status:</strong> Banned
                                </li>
                                <li class="blue">
                                    <a href="#">
                                        <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg">
                                    </a>
                                    <strong>Name:</strong> Dennis Ji<br>
                                    <strong>Since:</strong> Jul 25, 2012 11:09<br>
                                    <strong>Status:</strong> Updated
                                </li>
                            </ul>
                        </div>
                    </div><!--/span-->

                    <div class="box black span4 noMargin" onTablet="span12" onDesktop="span4">
                        <div class="box-header">
                            <h2><i class="halflings-icon white check"></i><span class="break"></span>To Do List</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="todo metro">
                                <ul class="todo-list">
                                    <li class="red">
                                        <a class="action icon-check-empty" href="#"></a>
                                        Windows Phone 8 App
                                        <strong>today</strong>
                                    </li>
                                    <li class="red">
                                        <a class="action icon-check-empty" href="#"></a>
                                        New frontend layout
                                        <strong>today</strong>
                                    </li>
                                    <li class="yellow">
                                        <a class="action icon-check-empty" href="#"></a>
                                        Hire developers
                                        <strong>tommorow</strong>
                                    </li>
                                    <li class="yellow">
                                        <a class="action icon-check-empty" href="#"></a>
                                        Windows Phone 8 App
                                        <strong>tommorow</strong>
                                    </li>
                                    <li class="green">
                                        <a class="action icon-check-empty" href="#"></a>
                                        New frontend layout
                                        <strong>this week</strong>
                                    </li>
                                    <li class="green">
                                        <a class="action icon-check-empty" href="#"></a>
                                        Hire developers
                                        <strong>this week</strong>
                                    </li>
                                    <li class="blue">
                                        <a class="action icon-check-empty" href="#"></a>
                                        New frontend layout
                                        <strong>this month</strong>
                                    </li>
                                    <li class="blue">
                                        <a class="action icon-check-empty" href="#"></a>
                                        Hire developers
                                        <strong>this month</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-fluid hideInIE8 circleStats">

                    <div class="span2" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox yellow">
                            <div class="header">Disk Space Usage</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="58" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">20000</span>
                                    <span class="unit">MB</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">50000</span>
                                    <span class="unit">MB</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="span2" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox green">
                            <div class="header">Bandwidth</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="78" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">5000</span>
                                    <span class="unit">GB</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">5000</span>
                                    <span class="unit">GB</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="span2" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox red">
                            <div class="header">Memory</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="100" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="span2 noMargin" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox pink">
                            <div class="header">CPU</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="83" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">64</span>
                                    <span class="unit">GHz</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">3.2</span>
                                    <span class="unit">GHz</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="span2" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox blue">
                            <div class="header">Memory</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="100" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="span2" onTablet="span4" onDesktop="span2">
                        <div class="circleStatsItemBox green">
                            <div class="header">Memory</div>
                            <span class="percent">percent</span>
                            <div class="circleStat">
                                <input type="text" value="100" class="whiteCircle" />
                            </div>
                            <div class="footer">
                                <span class="count">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                                <span class="sep"> / </span>
                                <span class="value">
                                    <span class="number">64</span>
                                    <span class="unit">GB</span>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row-fluid">

                    <a class="quick-button metro yellow span2">
                        <i class="icon-group"></i>
                        <p>Users</p>
                        <span class="badge">237</span>
                    </a>
                    <a class="quick-button metro red span2">
                        <i class="icon-comments-alt"></i>
                        <p>Comments</p>
                        <span class="badge">46</span>
                    </a>
                    <a class="quick-button metro blue span2">
                        <i class="icon-shopping-cart"></i>
                        <p>Orders</p>
                        <span class="badge">13</span>
                    </a>
                    <a class="quick-button metro green span2">
                        <i class="icon-barcode"></i>
                        <p>Products</p>
                    </a>
                    <a class="quick-button metro pink span2">
                        <i class="icon-envelope"></i>
                        <p>Messages</p>
                        <span class="badge">88</span>
                    </a>
                    <a class="quick-button metro black span2">
                        <i class="icon-calendar"></i>
                        <p>Calendar</p>
                    </a>

                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- end: Content -->

        </div>
    </div>

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="http://themifycloud.com">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>

        <p>
            <span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

        </p>

    </footer>

    <!-- start: JavaScript-->
    <script src="~/Content/Admin/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Admin/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="~/Content/Admin/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Content/Admin/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/Admin/js/modernizr.js"></script>
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/jquery.cookie.js"></script>
    <script src='~/Content/Admin/js/fullcalendar.min.js'></script>
    <script src='~/Content/Admin/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/Admin/js/excanvas.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/Admin/js/jquery.chosen.min.js"></script>
    <script src="~/Content/Admin/js/jquery.uniform.min.js"></script>
    <script src="~/Content/Admin/js/jquery.cleditor.min.js"></script>
    <script src="~/Content/Admin/js/jquery.noty.js"></script>
    <script src="~/Content/Admin/js/jquery.elfinder.min.js"></script>
    <script src="~/Content/Admin/js/jquery.raty.min.js"></script>
    <script src="~/Content/Admin/js/jquery.iphone.toggle.js"></script>
    <script src="~/Content/Admin/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/Admin/js/jquery.gritter.min.js"></script>
    <script src="~/Content/Admin/js/jquery.imagesloaded.js"></script>
    <script src="~/Content/Admin/js/jquery.masonry.min.js"></script>
    <script src="~/Content/Admin/js/jquery.knob.modified.js"></script>
    <script src="~/Content/Admin/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/Admin/js/counter.js"></script>
    <script src="~/Content/Admin/js/retina.js"></script>
    <script src="~/Content/Admin/js/custom.js"></script>
    @RenderSection("Scripts", false)
    <!-- end: JavaScript-->

</body>
</html>
