﻿@model ShopOnline.Models.OtherEF.LoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet" />
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- end: Favicon -->
    <style type="text/css">
        body {
            background: url(../../Content/Admin/img/bg-login.jpg) !important;
        }

        .form-horizontal-custom {
            width: calc(100% - 50px);
            margin-left: 25px;
        }

        .panel-heading {
            background-color: #f5f5f5;
            border-bottom-color: #ddd;
            padding: 3px 25px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            font-family: inherit !important;
            font-size: 16px;
            color: #000 !important;
        }

        .controls-custom {
            margin-left: calc((100% / 12) * 3);
        }

        .control-group-custom {
            margin: 0px 0px 20px 0px;
        }

        .control-label-custom {
            float: left;
            width: calc((100% / 12) * 3) !important;
            padding-top: 5px;
            color: #646464;
        }

        .input-large-custom {
            width: calc(100% - 14px);
        }

        .help-inline-custom {
            vertical-align: middle;
            display: none;
            color: #ff2222;
        }

        .remember-custom {
            margin: 0px 7px 0px calc((100% / 12) * 3);
            float: left;
        }

        .button-login-custom {
            float: right;
        }
    </style>
</head>

<body>
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">

                    <form class="form-horizontal">
                        <fieldset>

                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>

                        </fieldset>
                    </form>

                    <form class="form-horizontal-custom" action="/Account/GoogleSignIn" id="frmGoogleSignIn">
                        <fieldset>

                            <div class="control-group-custom">
                                <a class="btn btn-block btn-social btn-google-plus">
                                    <i class="fa fa-google-plus"></i> Sign in with Google
                                </a>
                            </div>

                        </fieldset>
                    </form>

                    <form class="form-horizontal-custom" action="/Account/GoogleSignOut" id="frmGoogleSignOut">
                        <fieldset>

                            <div class="control-group-custom">
                                <a class="btn btn-block btn-social btn-google-plus">
                                    <i class="fa fa-google-plus"></i> Sign out with Google
                                </a>
                            </div>

                        </fieldset>
                    </form>

                    <form class="form-horizontal-custom">
                        <fieldset>

                            <div class="control-group-custom">
                                <label class="control-label-custom">Username</label>
                                <div class="controls-custom">
                                    <input class="input-large-custom" id="username" type="text" placeholder="Input Username" value="@Model.Username" />
                                    <span class="help-inline-custom" id="username_msg">Đăng nhập không thành công.</span>
                                </div>
                            </div>

                            <div class="control-group-custom">
                                <label class="control-label-custom">Password</label>
                                <div class="controls-custom">
                                    <input class="input-large-custom" id="password" type="password" placeholder="Input Password" value="@Model.Password" />
                                    <span class="help-inline-custom" id="password_msg">Đăng nhập không thành công.</span>
                                </div>
                            </div>

                            <div class="control-group-custom">
                                <label class="remember-custom" for="remember">
                                    @if (Model.IsRemember)
                                    {
                                        @:<input type="checkbox" id="isRemember" checked /> Remember me
                                    }
                                    else
                                    {
                                        @:<input type="checkbox" id="isRemember" /> Remember me
                        }
                                </label>
                                <div class="button-login-custom">
                                    <input type="button" class="btn btn-primary" id="btnLogin" value="OK" />
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="control-group-custom">
                                <h2>
                                    <a href="#">Forgot Password?</a> <b><a href="#">Click here</a></b> to register.
                                </h2>
                            </div>

                        </fieldset>
                    </form>

                </div><!--/span-->
            </div><!--/row-->


        </div><!--/.fluid-container-->

    </div><!--/fluid-row-->
    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="http://themifycloud.com">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>

    <!-- start: JavaScript-->
    <script src="~/Content/Admin/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Admin/js/jquery-migrate-1.0.0.min.js"></script>
    <script src="~/Content/Admin/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="~/Content/Admin/js/jquery.ui.touch-punch.js"></script>
    <script src="~/Content/Admin/js/modernizr.js"></script>
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/jquery.cookie.js"></script>
    <script src='~/Content/Admin/js/fullcalendar.min.js'></script>
    <script src='~/Content/Admin/js/jquery.dataTables.min.js'></script>
    <script src="~/Content/Admin/js/excanvas.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.pie.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Content/Admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/Content/Admin/js/jquery.chosen.min.js"></script>
    <script src="~/Content/Admin/js/jquery.uniform.min.js"></script>
    <script src="~/Content/Admin/js/jquery.cleditor.min.js"></script>
    <script src="~/Content/Admin/js/jquery.noty.js"></script>
    <script src="~/Content/Admin/js/jquery.elfinder.min.js"></script>
    <script src="~/Content/Admin/js/jquery.raty.min.js"></script>
    <script src="~/Content/Admin/js/jquery.iphone.toggle.js"></script>
    <script src="~/Content/Admin/js/jquery.uploadify-3.1.min.js"></script>
    <script src="~/Content/Admin/js/jquery.gritter.min.js"></script>
    <script src="~/Content/Admin/js/jquery.imagesloaded.js"></script>
    <script src="~/Content/Admin/js/jquery.masonry.min.js"></script>
    <script src="~/Content/Admin/js/jquery.knob.modified.js"></script>
    <script src="~/Content/Admin/js/jquery.sparkline.min.js"></script>
    <script src="~/Content/Admin/js/counter.js"></script>
    <script src="~/Content/Admin/js/retina.js"></script>
    <script src="~/Content/Admin/js/custom.js"></script>
    <script src="~/Content/Admin/custom/jsDefaultValue.js"></script>
    <script src="~/Content/Admin/custom/jsFunction.js"></script>
    <script src="~/Content/Admin/custom/jsAccount.js"></script>
    <!-- end: JavaScript-->

</body>
</html>



