﻿@model ShopOnline.Models.OtherEF.LoginRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đăng nhập</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                        {
                            @Html.ValidationSummary(false, "", "error");

                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        @*<input class="form-control" placeholder="Username" name="username" autofocus>*@
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Tài khoản", @name = "username", @autofocus = "autofocus" })
                                    </div>
                                    <div class="form-group">
                                        @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @name = "password" })
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @*<input name="remember" type="checkbox" value="Remember Me">Remember Me*@
                                            @Html.CheckBoxFor(m => m.IsRemember, new { @name = "remember", @type = "checkbox" }) Ghi nhớ
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    @*<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>*@
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Xác nhận</button>
                                    @Html.ActionLink("Đăng ký", "SignUp", "Register", null, new { @class = "btn-link pull-right" })
                                    @*<button type="button" class="btn-link pull-right">Đăng ký</button>*@
                                </fieldset>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/Admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/Admin/dist/js/sb-admin-2.js"></script>
</body>
</html>

