﻿@using ShopOnline.Models.EF
@{
    List<xMenuGroup> menuItems = Model as List<xMenuGroup>;
}

<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            @foreach (xMenuGroup item in menuItems)
            {
            <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> @item.Name</span></a></li>
            }
        </ul>
    </div>
</div>