﻿@using ShopOnline.Models

@{
    ViewBag.Title = "Create product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model ShopOnline.Models.EF.eProduct

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Return List", "Pages")
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1">
                                    @Html.Label("Code", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                </div>
                                <div class="col-md-11">
                                    @Html.TextBox(nameof(Model.Code), Model.Code, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1">
                                    @Html.Label("Name", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                </div>
                                <div class="col-md-11">
                                    @Html.TextBox(nameof(Model.Name), Model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1">
                                    @Html.Label("Unit", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                </div>
                                <div class="col-md-11">
                                    @Html.DropDownList(nameof(Model.IDUnit), new SelectList(ViewBag.Units, "KeyID", "Name"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1">
                                    @Html.Label("Note", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                </div>
                                <div class="col-md-11">
                                    @Html.TextArea(nameof(Model.Note), Model.Note, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
