﻿@using PagedList.Mvc;
@using ShopOnline.Models.EF;
@model PagedList.IPagedList<ShopOnline.Models.EF.eProduct>


@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section CSS{
    <!-- DataTables CSS -->
    <link href="~/Content/Admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Content/Admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
}

@section Scripts{
    <!-- DataTables JavaScript -->
    <script src="~/Content/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/Admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/Admin/custom/jsProduct.js"></script>
    <!--Page - Level Demo Scripts - Tables - Use for reference-->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                paging: false,
                info: false
            });
            $('.tooltip-message').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            })
        });
    </script>
}

<!-- Modal Editor -->
<div id="modal-editor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center" id="lbTitle">Thông tin sản phẩm</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label id="lbCode" class="control-label">Mã</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tooltip-message">
                                    <div class="form-group">
                                        <input type="text" id="txtCode" name="Code" class="form-control" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label id="lbName" class="control-label">Tên</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tooltip-message">
                                    <div class="form-group">
                                        <input type="text" id="txtName" name="Name" class="form-control" data-toggle="tooltip" data-placement="left" title="" data-original-title="" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label id="lbUnit" class="control-label">ĐVT</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tooltip-message">
                                    <div class="form-group">
                                        @Html.DropDownList("IDUnit", new SelectList(ViewBag.Units, "KeyID", "Name"), new { @id = "lokUnit", @class = "form-control", @data_toggle = "tooltip", @data_placement = "left", @title = "", @data_original_title = "" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label id="lbSize" class="control-label">Kích thước</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tooltip-message">
                                    <div class="form-group">
                                        <input type="text" id="txtSize" name="Size" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label id="lbNote" class="control-label">Ghi chú</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tooltip-message">
                                    <div class="form-group">
                                        <textarea id="txtNote" name="Note" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="text-align:left">
                            <label id="lbMessage" class="control-label"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a id="btnSave" class="btn btn-default">Lưu</a>
                        <a id="btnSaveAndNew" class="btn btn-default">Lưu và tạo mới</a>
                        <a id="btnClose" class="btn btn-default" data-dismiss="modal">Đóng</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary" data-toggle="modal" data-target="#modal-editor" id="btnAdd">Thêm mới</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <td style="display:none"></td>
                                <td>No.</td>
                                <td>Code</td>
                                <td>Name</td>
                                <td>Color</td>
                                <td>Unit</td>
                                <td>Size</td>
                                <td>Note</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                foreach (eProduct item in Model)
                                {
                                    <tr data-row="@index">
                                        <td style="display:none" data-id="@item.KeyID"></td>
                                        <td>@(index)</td>
                                        <td>@item.Code</td>
                                        <td>@item.Name</td>
                                        <td>@item.ColorName</td>
                                        <td>@item.UnitName</td>
                                        <td>@item.Size</td>
                                        <td>@item.Note</td>
                                        <td style="width:23%; text-align:center">
                                            <a class="btn btn-info" data-id="btnDetail" data->Chi tiết</a>
                                            <a class="btn btn-success" data-id="btnEdit" data-toggle="modal" data-target="#modal-editor" data-row="@index">Sửa</a>
                                            <a class="btn btn-danger" data-id="btnDelete">Xóa</a>
                                        </td>
                                    </tr>

                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                    <div>@Html.PagedListPager(Model, page => Url.Action("Pages", new { pageIndex = page }))</div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
